body {
    background-color: black;
}

.slideshow {
    width: 75vw;
    height: 75vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.side-bar {
    height: 100%;
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.65);
    border-style: none;
    font-size: 30px;
    cursor: pointer;
}

.controls {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%);
    background-color: rgba(0, 0, 0, 0.65);
    border-radius: 25px;
    padding: 10px;
}

.bubble {
    background-color: rgba(0, 0, 0, 0);
    border-style: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.previous {
    left: 0px;
}

.next {
    right: 0px;
}

button:focus {
    outline-style: none;
}